rules/
.github/
Dockerfile
LICENSE.md
README.md
TODO.org
archlinux.yml
docker-compose.yml
docker-entrypoint.sh
inventory
osx.yml
requirements.yml
COMMANDS.org
ansible.cfg
CHANGELOG.md
install.sh
install.ps1
.weechat/logs
.weechat/weechat.log
.weechat/python/__pycache__/
config/pgcli/history
scripts/
Brewfile
Pacfile
Aurfile
Brewfile.lock.json
Makefile
projectile
resources
notes.org
.oh-my-zsh/cache/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
.nvm/.cache
.nvm/alias
.nvm/versions
.pyenv/cache
.pyenv/shims
.pyenv/versions
*.DS_Store

# hugo
docs/
.content/
static
config.toml
themesignore_global.tmpl
