.skhdrc
Library/LaunchAgents/com.syncmail.plist
*.DS_Store
.config/zsh/conf.d/functions/.dmg.sh
.config/zsh/conf.d/functions/.dock.sh
.config/zsh/conf.d/functions/.open.sh
.config/zsh/conf.d/scripts/.darwin_update.sh
