{{- $dotfiles_debug := env "DOTFILES_DEBUG" | not | not -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{ $name := "" }}
{{ $email := "" }}
{{ $opsecret := "" }}
{{ $brewcasks := true }}
{{ $tasks := false }}
{{ $externs := false }}
{{ $key_sign := false }}
{{ $age_recipient := "age1g995t9xueedckrmxp5ktrlrhgdthdqt8gd7feanlje0t9qgk5yvqrwssqq" }}
{{ $age_identity := "~/.config/age/key.txt" }}

{{ if $codespaces }}
{{   $name = "Itai Koren" }}
{{   $email = "your@email.com" }}
{{   $opsecret = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICVM9GaHBTMXCHjXIPiD7cbOJKcxQghU//5SoIIPtyKT" }}
{{   $brewcasks = true }}
{{ else }}
{{   $name = promptStringOnce . "name" "Name" "Itai Koren" }}
{{   $email = promptStringOnce . "email" "Email Address" "itkoren@gmail.com" }}
{{   $opsecret = promptStringOnce . "opsecret" "1Password secret key" "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICVM9GaHBTMXCHjXIPiD7cbOJKcxQghU//5SoIIPtyKT" }}
{{   $brewcasks = promptBoolOnce . "brewcasks" "Install brew casks" true }}
{{ end }}

{{ $hosttype := promptChoiceOnce . "host-type" "Host Type" (list "personal" "work") "personal" }}
{{ $osID := .chezmoi.os }}
{{ if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) }}
{{   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
{{ end }}

{{ $chassisType := "desktop" }}
{{ if eq .chezmoi.os "darwin" }}
{{   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{     $chassisType = "laptop" }}
{{   else }}
{{     $chassisType = "desktop" }}
{{   end }}
{{ else if eq .chezmoi.os "linux" }}
{{   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{ else if eq .chezmoi.os "windows" }}
{{   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{ end }}

{{ $powershellPath := lookPath "powershell" }}
{{ $pwshPath := lookPath "pwsh" }}

{{ $git_oss := promptStringOnce . "git_oss" "oss git dir" "~/dev/repositories/personal" }}
{{ $git_work := promptStringOnce . "git_work" "work git dir" "~/dev/repositories/work" }}

# ╭──────────────────────────────────────────────────────────╮
# │ CHEZMOI CONFIG                                           │
# ╰──────────────────────────────────────────────────────────╯

follow = true # follow symlinks
sourceDir = {{ .chezmoi.workingTree | quote }}
progress = true
encryption = "age"

[age]
  identity = {{ $age_identity | quote }}
  recipient = {{ $age_recipient | quote }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  editor = "nvim"
  hosttype = {{ $hosttype | quote }}
  device_type = {{ $chassisType | quote }}
  osid = {{ $osID | quote }}
  codespaces = {{ $codespaces }}
  externs = {{ $externs }}
  opsecret = {{ $opsecret | quote }}
  brewcasks = {{ $brewcasks }}
  git_oss = {{ $git_oss | quote }}
  git_work = {{ $git_work | quote }}
  key_sign = {{ $key_sign }}
  age_identity = {{ $age_identity | quote }}
  age_recipient = {{ $age_recipient | quote }}
  cm_src_dir = {{ .chezmoi.sourceDir | quote }}
  {{- if $powershellPath -}}
  powershellPath = {{ $powershellPath | quote }}
  hasPowerShell = true
  {{- end -}}
  {{- if $pwshPath -}}
  pwshPath = {{ $pwshPath | quote }}
  hasPwsh = true
  {{- end -}}
  {{- if $pwshPath }}
  shellexe = {{ $pwshPath | quote }}
  {{- else }}
  shellexe = {{ $powershellPath | quote }}
  {{- end }}
  
  # do not override the following values
  {{ if and (eq $osID "linux-nixos") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  is_wsl = true
  {{ else }}
  is_wsl = false
  {{ end }}

[data.environment]
  name = {{ $hosttype | quote }}
  personal = {{ eq $hosttype "personal" }}
  work = {{ eq $hosttype "work" }}

{{ if $tasks  }}
[hooks.init.pre]
  command = "task"
  args = ["-d", {{- .chezmoi.sourceDir | quote -}}]
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
[hooks.read-source-state.pre]
  command = "{{- .chezmoi.workingTree -}}/.darwin-install-prerequisites.sh"
{{ else if eq .chezmoi.os "linux" -}}
[hooks.read-source-state.pre]
  command = "{{- .chezmoi.workingTree -}}/.linux-install-prerequisites.sh"
{{ end }}

[git]
  autoCommit = true
  autoPush = true

[diff]
  pager = "delta"
  exclude = ["scripts", "externals"]

[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
  
[status]
  exclude = ["always"]

[scriptEnv]
  DEFAULTS = "0"
  TRACE = "0"
  VERBOSE = "0"
  DOT_ENVIRONMENT = {{ $hosttype | quote }}
  
{{ if eq .chezmoi.os "windows" }}
[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo", "-NoProfile"]
{{ end }}
