# ╭──────────────────────────────────────────────────────────╮
# │ CHEZMOI EXTERNAL CONFIG                                  │
# ╰──────────────────────────────────────────────────────────╯

{{- if eq .chezmoi.os "windows" }}
["./AppData/Local/nvim"]
  type = "git-repo"
  url = "https://github.com/HeyItsGilbert/nvim"

["./AppData/Roaming/bat"]
  type = "archive"
  url = "https://github.com/catppuccin/bat/archive/master.tar.gz"
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/themes/**"]

[".glzr/zebar/quiet-velvet"]
  type = "git-repo"
  url = "https://github.com/HeyItsGilbert/quiet-velvet"

{{- else }}
{{- if eq .chezmoi.os "darwin" }}
[".config/zsh/conf.d/.iterm2_shell_integration.zsh"]
  type = "file"
  url = "https://iterm2.com/shell_integration/zsh"
  refreshPeriod = "168h"
{{- end }}
{{- if .externs }}
[".config/nvim"]
  type = "git-repo"
  url = "https://github.com/HeyItsGilbert/nvim"

[".tmux/plugins/tpm"]
  type = "git-repo"
  url = "https://github.com/tmux-plugins/tpm"
  refreshPeriod = "168h"

[".vim/autoload/pathogen.vim"]
  type = "file"
  url = "https://tpo.pe/pathogen.vim"
  refreshPeriod = "168h"

[".vim/bundle/vim-airline"]
  type = "git-repo"
  url = "bling/vim-airline"
  refreshPeriod = "168h"

[".vim/bundle/vim-airline-themes"]
  type = "git-repo"
  url = "vim-airline/vim-airline-themes"
  refreshPeriod = "168h"

[".vim/bundle/ctrlp.vim"]
  type = "git-repo"
  url = "ctrlpvim/ctrlp.vim"
  refreshPeriod = "168h"

[".vim/bundle/vim-colors-solarized"]
  type = "git-repo"
  url = "altercation/vim-colors-solarized.git"
  refreshPeriod = "168h"

[".vim/bundle/vim-ps1"]
  type = "git-repo"
  url = "/PProvost/vim-ps1.git"
  refreshPeriod = "168h"

{{- end }}
{{- end }}
