; ╭──────────────────────────────────────────────────────────╮
; │ GIT CONFIG                                               │
; ╰──────────────────────────────────────────────────────────╯

[user]
  name = "{{- .name -}}"
  email = "{{- .email -}}"
  {{- if .key_sign }}
  signingkey = {{ .key_sign }}
  {{- else if eq .downloadSign true }}
  signingkey = {{ onepasswordRead "op://kdjfkdjfkdjfkdj/jkcdjckjdkjf/id" "ERYH6H7F3SSFGHHV2AS4CCFG5" }}
  {{- end }}

{{- if (or (.key_sign) (eq .downloadSign true)) }}
[gpg]
  format = ssh
{{- end }}

[core]
  editor = "{{ .editor }}"
  autocrlf = input
  longpaths = true
  pager = "delta"

[init]
  defaultBranch = "master"

[gitreview]
  remote = "origin"

[color]
  ui = "auto"
  status = "auto"
  diff = "auto"
  branch = "auto"
  interactive = "auto"

{{- if eq .name "itkoren" "Itai Koren" "Koren Itai" }}
[url "git@github.com:itkoren"]
  insteadOf = https://github.com/itkoren
{{- end }}
