; ╭──────────────────────────────────────────────────────────╮
; │ GIT CONFIG                                               │
; ╰──────────────────────────────────────────────────────────╯

[user]
  name = "{{- .name -}}"
  email = "{{- .email -}}"
  {{- if .key_sign }}
  signingkey = {{ .key_sign }}
  {{- else if eq .downloadssh true }}
  signingkey = {{ onepasswordRead "op://kdjfkdjfkdjfkdj/jkcdjckjdkjf/id" "ERYH6H7F3SSFGHHV2AS4CCFG5" }}
  {{- end }}

{{- if (or (.key_sign) (eq .downloadssh true)) }}
[gpg]
  format = ssh
{{- end }}

[core]
  editor = "{{ .editor }}"
  autocrlf = input
  longpaths = true
  pager = "delta"
  excludesFile = ~/.gitignore

[init]
  defaultBranch = "master"

[commit]
  {{- if (or (.key_sign) (eq .downloadssh true)) }}
  gpgsign = true
  {{- end }} 

[push]
  default = upstream
  autoSetupRemote = true

[gitreview]
  remote = "origin"

[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[color]
  ui = "auto"
  status = "auto"
  diff = "auto"
  branch = "auto"
  interactive = "auto"

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

{{- if eq .name "itkoren" "Itai Koren" "Koren Itai" }}
[url "git@github.com:itkoren"]
  insteadOf = https://github.com/itkoren
{{- end }}
