contexts:
  default:
    defaultProvider: docker
    providers:
      docker:
        creationTimestamp: {{ date -u +"%Y-%m-%dT%H:%M:%SZ" }}
        initialized: true
        options:
          DOCKER_BUILDER:
            userProvided: true
          DOCKER_HOST:
            userProvided: true
          DOCKER_PATH:
            userProvided: true
            value: docker
          INACTIVITY_TIMEOUT:
            userProvided: true
        singleMachine: true
defaultContext: default
