contexts:
  default:
    defaultProvider: docker
    providers:
      docker:
        creationTimestamp: {{ now | time "2006-01-02T15:04:05Z07:00" }}
        initialized: true
        options:
          DOCKER_BUILDER:
            userProvided: true
          DOCKER_HOST:
            userProvided: true
          DOCKER_PATH:
            userProvided: true
            value: docker
          INACTIVITY_TIMEOUT:
            userProvided: true
        singleMachine: true
defaultContext: default
