<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_currencies</key>
	<string>NIS, USD, EUR, GBP</string>
	<key>timezone</key>
	<string>Asia/Jerusalem</string>
</dict>
</plist>
