{{- if and (eq .chezmoi.os "darwin") (hasKey .apps "darwin") -}}
#!{{ lookPath "sh" }}

{{- $workingTree := .chezmoi.workingTree -}}
{{- $destDir := .chezmoi.destDir -}}

# apps.yaml hash: {{ include ".chezmoidata/apps.yaml" | sha256sum }}
source "$HOME/.config/zsh/conf.d/functions/.age.sh"

{{ if hasKey .apps.darwin "universal" }}

{{ range .apps.darwin.universal.encrypted -}}
age_decrypt_extract "{{ $workingTree }}/{{ . }}" "/Applications"
{{ end -}}
{{ range .apps.darwin.universal.plain -}}
cp "{{ $workingTree }}/{{ . }}" "/Applications"
{{ end -}}

{{ end -}}


{{ if and (.environment.work) (hasKey .apps.darwin "work") }}

{{ range .apps.darwin.work.encrypted -}}
age_decrypt_extract "{{ $workingTree }}/{{ . }}" "/Applications"
{{ end -}}

{{ range .apps.darwin.work.plain -}}
cp "{{ $workingTree }}/{{ . }}" "/Applications"
{{ end -}}

{{ end -}}


{{ if and (.environment.personal) (hasKey .apps.darwin "personal") }}

{{ range .apps.darwin.personal.encrypted -}}
age_decrypt_extract "{{ $workingTree }}/{{ . }}" "/Applications"
{{ end -}}

{{ range .apps.darwin.personal.plain -}}
cp "{{ $workingTree }}/{{ . }}" "/Applications"
{{ end -}}

{{ end -}}

{{ end -}}

