{{ if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "sh" }}
{{- $workingTree := .chezmoi.workingTree }}

if [ ! -d "$HOME/Library/Application Support/Sublime Text" ]; then
  echo "***************************************************************************"
  echo "***************************************************************************"
  echo "***************************************************************************"
  echo "**** Sublime Text App will be opened when you press the Enter button   ****"
  echo "**** Please wait for it to load and then close the application         ****"
  echo "***************************************************************************"
  echo "***************************************************************************"
  echo "***************************************************************************"
  open "/Applications/Sublime Text.app"
  read -p "Press any key to continue." -n 1 -r
fi

if [ ! -d "$HOME/Library/Application Support/Sublime Text/Packages/User" ]; then
  if [ -d "$HOME/Library/Application Support/Sublime Text" ]; then
    mkdir -p "$HOME/Library/Application Support/Sublime Text/Packages/User"
  fi
fi
if [ -d "$HOME/Library/Application Support/Sublime Text/Packages/User" ]; then
  if [ -L "$HOME/Library/Application Support/Sublime Text/Packages/User" ]; then
    echo "sublime text settings already linked"
  else
    echo "going to create sublime text settings symbolic link"
    rm -r "$HOME/Library/Application Support/Sublime Text/Packages/User"
    ln -s "{{ $workingTree }}/preferences/sublime/User" "$HOME/Library/Application Support/Sublime Text/Packages/"
    echo "sublime text settings linked"
  fi
fi

if [ ! -d "$HOME/Library/Application Support/Alfred" ]; then
  echo "***************************************************************************"
  echo "***************************************************************************"
  echo "***************************************************************************"
  echo "**** Alfred 5 App will be opened when you press the Enter button       ****"
  echo "**** Please wait for it to load and then paste the license             ****"
  echo "**** in the application continue and then close the application        ****"
  echo "***************************************************************************"
  echo "***************************************************************************"
  echo "***************************************************************************"
  open "/Applications/Alfred 5"
  open "$HOME/content/licenses/alfred.license.txt"
  read -p "Press any key to continue." -n 1 -r
fi
if [ ! -d "$HOME/Library/Application Support/Alfred/Alfred.alfredpreferences" ]; then
  if [ -d "$HOME/Library/Application Support/Alfred" ]; then
    mkdir -p "$HOME/Library/Application Support/Alfred/Alfred.alfredpreferences"
  fi
fi
if [ -d "$HOME/Library/Application Support/Alfred/Alfred.alfredpreferences" ]; then
  if [ -L "$HOME/Library/Application Support/Alfred/Alfred.alfredpreferences" ]; then
    echo "alfred settings already linked"
  else
    echo "going to create alfred settings symbolic link"
    rm -r "$HOME/Library/Application Support/Alfred/Alfred.alfredpreferences"
    ln -s "{{ $workingTree }}/preferences/alfred/Alfred.alfredpreferences" "$HOME/Library/Application Support/Alfred/"
    echo "alfred settings linked"

    echo -n "after you'll hit enter, alfred openes - paste the license and continue"
    open -a "/Applications/Alfred 5"
    # Wait for 2 seconds
    sleep 2
    osascript -e 'tell application "System Events" to keystroke "," using {command down}'
    open "$HOME/content/licenses/alfred.license.txt"
    read
  fi
fi
{{ end -}}
