{{ if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "sh" }}

read -p "Would you like to schedule recurrent automatic brew updates? (y/n): " yn
if [[ "$yn" =~ ^[Yy]$ ]]; then
    # Prompt the user for input
    read -p "Enter interval in hours: " hours

    # Check if the input is a valid number (integer or decimal)
    if ! [[ "$hours" =~ ^[0-9]+(\.[0-9]+)?$ ]]; then
        echo "Error: input is an invalid number. To run manually just run the following in your terminal:\n"
        echo "brew autoupdate start 86400 --upgrade --cleanup --immediate --sudo"
        echo "Skipping..."
    else
        # Calculate seconds
        seconds=$((hours * 3600))
    
        # Output the result
        echo "$hours hour(s) is equal to $seconds seconds."
    
        mkdir -p ~/Library/LaunchAgents
        brew autoupdate start $seconds --upgrade --cleanup --immediate --sudo
    fi
else
    echo "Skipping..."
fi

{{ end -}}
