{{- if (eq .chezmoi.os "darwin") -}}
#!{{ lookPath "sh" }}

mkdir -p "$HOME/content/work"
mkdir -p "$HOME/content/personal"

{{ if .environment.personal }}
# Check if the repos are already cloned
if ! test -d "$HOME/content/personal/dotfiles"
    git clone git@github.com:itkoren/dotfiles.git "$HOME/content/personal/dotfiles"
end
{{ end }}

{{ end -}}
