{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!{{ lookPath "sh" }}

read -p "Going to install devbox! skip? (y/n): " yn
if [[ "$yn" =~ ^[Yy]$ ]]; then
    echo "Skipping..."
else
    curl -fsSL https://get.jetify.com/devbox | bash
fi
{{ end -}}
