<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arc</key>
	<true/>
	<key>chromium</key>
	<true/>
	<key>edge</key>
	<true/>
	<key>safari</key>
	<true/>
	<key>sidekick</key>
	<true/>
	<key>vivaldi</key>
	<true/>
</dict>
</plist>
